<div class="card-course" data-controller="favorite" data-favorite-target="card">
  <%= link_to course_path(course) do %>
      <%= cl_image_tag course.photo.key %>
  <% end %>
    <div class="card-course-infos">
      <div class="mb-1">
        <h2><%= course.title %></h2>
      </div>
      <div>
        <p>Chef <%= course.chef.user.first_name %> <%= course.chef.user.last_name %></p>
        <p>Temps de réalisation : <%= course.duration %> minutes</p>
      </div>
    </div>
    <div class="fav-icon">
      <%= link_to add_in_favorite_participation_path(course.participations.find_by(user_id: current_user.id)), data: {favorite_target: "link", action: "click->favorite#toggleFav"} do %>
        <i class="<% if course.participations.find_by(user_id: current_user.id).favorite? %>fas<% else %>far<% end %> fa-heart"></i>
      <% end %>
    </div>
</div>
