<%= render "shared/dashboard_navigation" %>
<div class="container container-top">
  <div class="cards">
      <% current_user.participations.each do |participation| %>
        <%if participation.favorite == true %>
          <div class="card-course">
            <%= link_to course_path(participation.course) do %>
                <%= cl_image_tag participation.course.photo.key %>
            <% end %>
              <div class="card-course-infos">
                <div class="mb-1">
                  <h2><%= participation.course.title %></h2>
                </div>
                <div>
                  <p>Chef <%= participation.course.chef.user.first_name %> <%= participation.course.chef.user.last_name %></p>
                  <p>Temps de réalisation : <%= participation.course.duration %> minutes</p>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
