<div class="container container-top">
  <%= render "shared/dashboard_navigation" %>
  <div class="dashboard-navigation">
      <div class="d-flex justify-content-between">
        <div style="width: 100%">
          <%= form_tag past_participations_participations_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Retrouver un ancien cours, un chef, etc",
              style: "height: 50px; "
            %>
        </div>
        <div style="padding-left: 4px">
          <%= submit_tag "Rechercher", class: "button" %>
        </div>
        <% end %>
      </div>
  </div>
  <br>
  <div>
    <div class="cards">
      <% current_user.participations.order(id: :asc).past.each do |participation| %>
        <div class="card-course">
          <%= link_to course_path(participation) do %>
              <%= cl_image_tag participation.course.photo.key %>
          <% end %>
            <div class="card-course-infos">
              <div class="mb-1">
                <h2><%= participation.course.title %></h2>
              </div>
              <div>
                <p>Chef <%= participation.course.chef.user.first_name %> <%= participation.course.chef.user.last_name %></p>
                <p>Temps de réalisation : <%= participation.course.duration %> minutes</p>
                <%#= participation.add_in_favorite %>
                <%# if participation.favorite == true %>
                  <%= link_to add_in_favorite_participation_path(participation) do %>
                    <i class="<% if participation.favorite? %>fas<% else %>far<% end %> fa-heart"></i>
                  <% end %>
                <%# else %>
                  <%#= link_to "fav", add_in_favorite_participation_path(participation) %>
                <%# end %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  <div>
</div>
<br>
<br>
