<%= render "shared/dashboard_navigation" %>
<div class="container container-top" data-controller="search-participations">
  <div class="searchbar-past-participation">
    <div class="d-flex justify-content-between">
      <div style="width: 100%">
        <%= form_with url:past_participations_participations_path, method: :get, html: { class:
          'mb-4', data: { search_participations_target: 'form' } } do |f| %>
          <%= f.text_field :query,
            class: "form-control",
            placeholder: "Retrouver un ancien cours, un chef, etc",
            style: "height: 50px; ",
            value: params[:query],
            data: { search_participations_target: 'input',
            action: 'keyup->search-participations#update' } %>
      </div>
      <div style="padding-left: 4px">
        <%= submit_tag "Rechercher", class: "button" %>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= render 'list_participations', courses: @courses %>
</div>
<br>
