<div class="container">
  <div class="card-show">
    <h3 class="card-show-title"><%= @course.title %></h3>
      <div class="row">
        <div class="d-flex justify-content-between col-6">
          <p><strong> Date du cours : <%= @course.start_at.strftime("%A, %d %b %Y %l:%M %p") %></strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <% if @course.end_at < Time.now  %>
            <%= video_tag "replay2.mp4", autoplay: true %>
          <% else %>
            <%= cl_image_tag @course.photo.key %>
          <% end %>

          <% if  (Time.now > (@course.start_at - 10.minutes) && Time.now < (@course.end_at))   %>
            <div class="live-btn">
              <button class="button">Accès au cours<span class="live-icon"></span></button>
            </div>
          <% end %>

        </div>
        <div class="col-6">
          <div class="card-show-infos">
            <div>
              <div class="chef-detail">
                <h3 class="chef">Chef·fe <%= @course.chef.user.first_name %> <%= @course.chef.user.last_name %></h3>
                <%= image_tag @course.chef.user.photo, class: "avatar-large" %>
              </div>
              <p>Temps de réalisation : <%= @course.duration %> minutes</p>
              <%# <p>Matériel nécessaire :</p> %>
              <p>Difficulté : <%= @course.difficulty %></p>
            </div>
          </div>
          <div class="main-checkbox <%="past_courses" if @course.end_at < Time.now %>">
            <h3>Ingrédients</h3>
            <div class="card-show-infos">
              <p>Pour 2 personnes :</p>
            </div>
            <div class="detail-checkbox">
              <input type="checkbox" id="Homard" name="Homard">
              <label for="Homard"><strong>1 </strong>homard</label>
            <div>
              <input type="checkbox" id="Beurre" name="Beurre">
              <label for="Beurre"><strong>50g </strong>beurre</label>
            </div>
            <div>
              <input type="checkbox" id="echalotes" name="echalotes">
              <label for="echalotes"><strong>3 </strong>échalotes</label>
            </div>
            <div>
              <input type="checkbox" id="Vin" name="Vin">
              <label for="Vin"><strong>10cl </strong>vin</label>
            </div>
            <div>
              <input type="checkbox" id="thym" name="thym">
              <label for="thym"><strong>2 </strong>branches de thym</label>
            </div>
            <div>
              <input type="checkbox" id="creme" name="creme">
              <label for="creme"><strong>20cl </strong>crème fraiche liquide entière</label>
            </div>
            <div>
              <input type="checkbox" id="aneth" name="aneth">
              <label for="aneth"><strong>2 cuil. à soupe </strong>Feuilles d'aneth</label>
            </div>
            <div>
              <input type="checkbox" id="cib" name="cib">
              <label for="cib">Ciboulette fraiche</label>
            </div>
            </div>
          </div>
          <% if Time.now < @course.start_at %>
            <div class="show-btn">
              <button class="button" data-bs-toggle="modal" data-bs-target="#epiceryModal">Commander chez Epicery</button>
              <button class="button">M'envoyer la liste</button>
            </div>
          <% end %>

            <!-- Modal -->
            <div class="modal fade" id="epiceryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Commander chez Epicery</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <label for="start">Me faire livrer le :</label>
                      <input type="date" id="start" name="start">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="button" data-bs-dismiss="modal">Commander</button>
                  </div>
                </div>
              </div>
            </div>


        </div>
      </div>
  </div>
</div>
