<div class="container">
<br>
  <% @posts.each do |post| %>
    <div class="card-community">
      <div class="d-flex" style="align-items: flex-start;">
        <%= image_tag post.participation.user.photo, class: "avatar-large mx-3" %>
        <div class="card-community-title">
          <p><span class="community-user-nickname"><%= post.participation.user.nickname %></span>
            a commenté la recette
            <span><%= link_to post.course.title, course_path(post.course) %></span> par
            <%= post.course.chef.user.first_name %>
            <%= post.course.chef.user.last_name %>
          </p>
          <p><%= post.posted_at %></p>
        </div>
        <div>
          <%= link_to post_upvotes_path(post), method: :post do %>
            <span class="button-small"><%= post.upvotes.count == 0 ? "" : post.upvotes.count %> <i class="far fa-thumbs-up"></i></span>
          <% end %>
        </div>
      </div>
      <div class="d-flex card-community-margin">
        <div>
          <%= cl_image_tag(post.photo.key, style: "width: 350px; height: 200px; object-fit:cover") %>
        </div>
        <div class="card-community-description">
          <p>
            <%= post.content %>
          </p>
          <br>
        </div>
      </div>
      <div class="card-community-margin">
      <div>
        <%= simple_form_for [post, comment = Comment.new] do |f| %>
          <%= f.input :content, label: false %>
          <%= f.submit "Commenter"%>
        <% end %>
      </div>
      </div>
    </div>
    <div class="card-community-container">
      <% post.comments.each do |comment| %>
        <div class="card-community-comments">
          <div class="d-flex">
            <%= image_tag comment.user.photo, class: "avatar-large" %>
            <div class="post-comment-content">
              <p><%= comment.content %></p>
            </div>
            <div class="button-delete">
              <%= link_to post_comment_path(post, comment), method: :delete  do %>
                <%= image_tag("cancel.png") %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
